{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Réinitialisation{% endblock %}

{% block body %}
    <h1 class="text-center p-4">Réinitialisez votre mot de passe</h1>
    <div class="d-flex flex-column align-items-center justify-content-center p-4">
        <div>
            {{ form_start(resetForm) }}
        </div>
        <div>
            {{ form_row(resetForm.plainPassword) }}
        </div>
        <div>
            <button class="btn btn-primary">Reset password</button>
        </div>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
